:root {
	--body-bck: #e5e5e5;
	--menu-bck: #ffffff;
	--accent-color: #2196f3;
	--logo-text-color: #000000;
	--primary-text-color: #212121;
	--primary-contact-color: #757575;
	--top-main-bck: #2f303a;
	--bottom-main-bck: #f5f4fa;
	--border-header-color: #ececec;
	--border-service-color: #eeeeee;
	--footer-contact-color: rgba(255, 255, 255, 0.6);
	--items-between: 30px;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: Roboto, sans-serif;
	color: var(--primary-text-color);
	background-color: var(--menu-bck);
	letter-spacing: 0.03em;
}

img {
	display: block;
}

h2 {
	color: var(--primary-text-color);
}

a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-top {
	display: flex;
	padding-top: 25px;
	padding-bottom: 25px;
	align-items: center;
	background: var(--menu-bck);
	border-bottom: 1px solid var(--border-header-color);
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.section {
	padding-top: 94px;
}

.flex {
	display: flex;
	align-items: center;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.nav {
	display: flex;
	align-items: center;
}

.logo-web-header {
	display: flex;
	margin-right: 93px;
	font-family: Raleway;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
}

.logo-studio-header {
	color: var(--primary-text-color);
}

.menu-top-center {
	display: flex;
}

.menu-top-center .item + .item {
	margin-left: 50px;
}

.menu-top-center .menu-item {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

.menu-top-center a:hover,
.menu-top-center a:focus {
	color: var(--accent-color);
}

.menu-top-center .menu-item.current {
	color: var(--accent-color);
}

.contacts {
	display: flex;
	margin-left: auto;
}

.contacts .item + .item {
	margin-left: 50px;
}

.contacts a {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14px;
	letter-spacing: 0.02em;
	color: var(--primary-contact-color);
}

.contacts a:hover,
.contacts a:focus {
	color: var(--accent-color);
}

.top-main {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	background-color: var(--top-main-bck);
	background-image: url(../images/img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.top-main-text {
	width: 696px;
	margin: 0 auto;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-align: center;
	text-transform: uppercase;
	color: var(--menu-bck);
}

.top-main-button {
	align-items: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding: 10px 32px;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--menu-bck);
	cursor: pointer;
}

.middle-main {
	padding-top: 94px;
	background: var(--menu-bck);
}

.middle-main p {
	font-size: 14px;
	line-height: 1.71;
}

.middle-main-list {
	display: flex;
	justify-content: center;
}

.middle-main-list h3 {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-text-color);
}

.middle-main-list .item {
	width: 270px;
}

.middle-main-list p {
	font-size: 14px;
	line-height: 1.71;
	color: var(--primary-contact-color)
}

.features-icons {
    outline: 1px solid red;
}

.features-icon {
    outline: 1px solid yellow;
}

.middle-main-list .item + .item {
	margin-left: 30px;
}

.middle-img h2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}

.middle-img {
	text-align: center;
	padding-bottom: 94px;
}

.middle-img .item + .item {
	margin-left: 30px;
}

.middle-main-title {
	display: flex;
	margin-top: 50px;
	justify-content: center;
}

.bottom-main {
	padding-bottom: 94px;
	background-color: var(--bottom-main-bck);
}

.team-title {
	margin: 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: var(--primary-text-color);
}

.bottom-main .item {
	background: var(--menu-bck);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.bottom-main .item + .item {
	margin-left: 30px;
}

.team-list {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	color: var(--primary-text-color);
}

.bottom-main h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}

.bottom-main p {
	margin-top: 10px;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	color: var(--primary-contact-color);
}

.item-text {
	padding-top: 30px;
	padding-bottom: 30px;
}

.item-text p {
	color: var(--primary-contact-color);
}

.menu-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--top-main-bck);
}

.logo-web-footer {
	display: block;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
}

.logo-studio-footer {
	color: var(--menu-bck);
}

.footer-address {
	font-style: normal;
}

.menu-footer a {
	margin-bottom: 20px;
}

.menu-footer p {
	margin-bottom: 9px;
	font-size: 14px;
	line-height: 1.7;
	color: var(--menu-bck);
}

.menu-footer .item + .item {
	margin-top: 9px;
}

.menu-footer .link {
	font-size: 14px;
	line-height: 1.7;
	color: rgba(255, 255, 255, 0.6);
}

.menu-footer .link:hover,
.menu-footer .link:focus {
	color: var(--accent-color);
}

button {
	padding: 6px 22px;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.03em;
	border-radius: 4px;
	border-color: transparent;
	background-color: var(--bottom-main-bck);
	color: var(--primary-text-color);
}

.portfolio {
	padding-bottom: 94px;
}
.filter-portfolio {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter-portfolio .item + .item {
	margin-left: 8px;
}

button:hover,
button:focus {
	color: var(--menu-bck);
	background-color: var(--accent-color);
}

.menu-portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: calc(-1 * var(--items-between));
	margin-left: calc(-1 * var(--items-between));
}

.menu-portfolio > .item {
	flex-basis: calc(100% / 3 - 30px);
	margin-top: var(--items-between);
	margin-left: var(--items-between);
	background: var(--menu-bck);
}

.menu-portfolio .item-text {
	padding: 20px 24px;
	border: 1px solid var(--border-service-color);
}

.menu-portfolio h2 {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.menu-portfolio p {
	font-size: 16px;
	line-height: 1.88;
}
